@model W23G37.Controllers.TeNdryshemeController.TeNdryshmeViewModel


@{
    ViewData["Title"] = "Vendosni Nivelin E Studimeve Ne Departament";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="VendosniNivelinEStudimeveNeDepartament">
            <input type="hidden" asp-for="NiveliStudimeveZgjedhur" name="NiveliStudimeveZgjedhur" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="NiveliStudimit.EmriNivelitStudimeve" class="control-label">Niveli i Studimeve</label>
                <input asp-for="NiveliStudimit.EmriNivelitStudimeve" class="form-control" disabled/>
                <span asp-validation-for="NiveliStudimit.EmriNivelitStudimeve" class="text-danger"></span>
            </div>
            <div class="formaSelect mb-3">
                <label asp-for="NiveliStudimit">Departamenti</label>
                <select asp-for="DepartamentiZgjedhur" class="form-control" required>
                    <option disabled value="">Zgjedhni Departamentin</option>
                    @foreach (var item in Model.Departamentet)
                    {
                        <option value="@item.DepartamentiID">@item.EmriDepartamentit - @item.ShkurtesaDepartamentit</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("NiveliStudimeveIndex")'"><i class="fa-solid fa-arrow-left"></i></button>
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-add"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
